{erl_opts, [debug_info]}.
{deps, [
        {jsone, {git, "https://github.com/sile/jsone.git"}, {tag, "1.4.7"}},
        {cowboy, {git, "git://github.com/extend/cowboy.git"}, {tag, "2.5.0"}}
        ]
}.

{plugins, [rebar3_run]}.

{shell, [
         % {config, [{config, "config/sys.config"}]},
         {apps, [katecount]}
]}.

{root_dir, "//h/mberns01/katecount"}.

{relx, [{release, {prod, "0.2.0"},
         [katecount]},

        {vm_args, "config/vm.args"},
        %  -proto_dist inet_tls
        % {sys_config, "config/sys.config"},

        {include_src, false},
        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}]}.
